/* Общие стили для всех секций */
.aboutbox {
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 30px;
}
.aboutbox .aboutbox-header {
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px solid #3ba8c0;
    margin:0 0 20px 0;
    line-height: 65px;
    padding: 0 25px;
    display: inline-block;
}
.aboutbox-body {
    padding-bottom: 23px;
}
/*  Главная область */
.variable-content {
    width: 650px;
    float: right;
}
.experience {
    list-style: none;
    padding-left: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}
.experience-item {
    margin-bottom: 33px;
}
.education {
    list-style: none;
    padding-left: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}
.education-item {
    margin-bottom: 33px;
}
.item-content-wrap.icon-work:before {
    content: " ";
    display: block;
    height: 34px;
    width: 36px;
    background: url("../images/bag.png") no-repeat;
    float: left;
    padding-right: 20px;
    margin-top: -5px;
}
.item-content-wrap.icon-edu:before {
    content: " ";
    display: block;
    height: 23px;
    width: 41px;
    background: url("../images/hat.png") no-repeat;
    float: left;
    padding-right: 20px;
    
}
.item-content-wrap.icon-course:before {
    content: " ";
    display: block;
    height: 32px;
    width: 26px;
    background: url("../images/doc.png") no-repeat;
    float: left;
    padding-right: 25px;
    margin-left: 10px;
    margin-top: -3px;
}
.item-content-wrap {
    margin-bottom: 10px;
    line-height: 10px
}
.item-content-header {
    color: #4a545d;
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    margin: 0 0 10px;
}
.item-content-text {
    color: #4a545d;
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 0;
}
/* Главная область - конец */
/* Лицо */
.image-wrap {
    float: left;
    margin-left: 55px;
    margin-top: 10px;
}
.avatar-box {
    width: 142px;
    height: 142px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 5px solid #3ba8c0;
}
.avatar {
    width: 100%;
}
/* Лицо - конец */

/* Список анкетных данных */
.aboutbox .worksheet-wrap {
    float: right;
    width:400px;
}
.worksheet-list {
    list-style: none;
    padding: 0;
    margin-left: -20px;
    margin-top: 0;
}
.worksheet-info {
    padding-left: 25px;
    font-family: 'fira_sansbook', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 14px;
    display: block;
    overflow: hidden;
    
}
.worksheet-item {
    margin-bottom: 8px;
}
.worksheet-what {
    font-family: 'fira_sansmedium', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 16px;
    float: left;
}
.skills-list {
    padding: 0;
}
.skills-list .skills-item {
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 40px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    line-height: 19px;
    background-color: #3ba8c0;
    color: white;
    background: linear-gradient(to bottom, #3ba8c0 51%, #2e8ca2 52%);
}

/* Список анкетных данных - конец */