.form-wrap {
    width: 650px;
    background-color: #eff3f7;
    float: right;
    height: 840px;
    border-radius: 4px;
    margin-bottom: 39px;
    text-align: center;
}
.form-header {
    background: url(../images/form-header-bg.png);
    text-align: center;
    line-height: 123px;
    color: #ffffff;
    font-size: 27px;
}
.dec-line {
    height: 17px;
    background-color: #67dffa;
    margin-bottom: 40px;
}
.contact-form {
    position: absolute;
    width: 402px;
    min-height: 462px;
    margin-left: 124px;
}
.name-wrap {
    display: block;
    float: left;
    margin-bottom: 10px;
}
.name__label {
    display: block;
    margin-right: 100%;
    font-size: 1.2em;
    color: #979DA3;
    font-family: 'fira_sansextralight', "Lucida Grande", Lucida, Verdana, sans-serif;
 }
.name {
    display: block;
    width: 186px;
    height: 35px;
    border: 1px solid #67dffa;
    border-radius: 4px;
    font-size: 13px;
  }
.email-wrap {
    display: block;
    float: right;
    margin-bottom: 10px;
}
.email__label {
    display: block;
    margin-right: 100%;
    font-size: 1.2em;
    color: #979DA3;
    font-family: 'fira_sansextralight', "Lucida Grande", Lucida, Verdana, sans-serif;
}
.email {
    display: block;
    width: 188px;
    height: 35px;
    border: 1px solid #67dffa;
    border-radius: 4px;
    font-size: 13px;
}
.message-wrap {
    float: left;
}
.message__label {
    float: left;
    font-size: 1.2em;
    color: #979DA3;
    font-family: 'fira_sansextralight', "Lucida Grande", Lucida, Verdana, sans-serif;
}
.message {
    min-width: 398px;
    min-height: 180px;
    border: 1px solid #67dffa;
    border-radius: 4px;
    font-size: 13px;
}
.capcha-wrap {
    position: relative;

}
.capcha__label {
    display: inline-block;
    float: left;
    font-size: 17px;
    color: #979DA3;
    font-family: 'fira_sansextralight', "Lucida Grande", Lucida, Verdana, sans-serif;
}
.captcha-code {
    display: inline-block;
    width: 190px;
    height: 75px;
    border: 1px solid #67dffa;
    border-radius: 5px;
    float: left;
    background: #eff3f7;
    line-height: 75px;
    font-size: 50px;
}
.captcha {
    display: inline-block;
    float: right;
    font-size: 13px;
    width: 190px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #67dffa;
    margin-top: 20px;
}
.buttons-wrap {
    position: absolute;
    bottom: 0;
    width: 400px;
}
.submit {
    float: left;
    width: 136px;
    height: 32px;
    border-radius: 4px;
    border: 0 solid #67dffa;
    color: #eff3f7;
    font-size: 18px;
    font-family: 'fira_sansbook', "Lucida Grande", Lucida, Verdana, sans-serif;
    background: #48CBE8;

}
.submit:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.reset {
    float: right;
    width: 123px;
    height: 32px;
    border-radius: 4px;
    border: 0 solid #67dffa;
    color: #eff3f7;
    font-size: 18px;
    font-family: 'fira_sansbook', "Lucida Grande", Lucida, Verdana, sans-serif;
    background: #7A93AA;
}
.reset:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}