html {
    height: 100%;
}
body {
    height: 100%;
    background: url("../images/comppattern2.png") repeat;
    font: normal 1em 'fira_sanslight';
    color: #4a545d;
}

/* Прибиваем Футер к низу */
.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto !important;
    overflow: hidden;
}
.wrapper:after {
    content: " ";
    height: 80px;
    display: block;
}
.page-footer {
    min-width: 970px;
    height: 80px;
    margin-top: -80px;
}
/* Прибиваем Футер к низу - конец */

/* Шапка */
.conteiner-big {
    max-width: 1200px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.page-header {
    height: 119px;
    background: #eff3f7 bottom center no-repeat;
    position: relative;
    margin-bottom: 39px;
}
.page-header:after {
    content: " ";
    display: block;
    height: 3px;
    background: linear-gradient(to right, transparent 5%, #1e677b 50%, transparent 95%) no-repeat;
}
.page-header .header-logo-link {
    position: absolute;
    top: 39px;
    left: 0;
}
.page-header .header-logo-text {
    position: absolute;
    left: -9999px;
}
.page-header .socials {
    position: absolute;
    right: 0;
    top: 36px;
}
/* Шапка - конец */

/* Блок социальных ссылок */
.socials {
    margin: 0;
    padding: 0;
    min-width: 260px;
}
.socials .socials-item {
    list-style: none;
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left: 19px;
    /* Отступ у таких елементов всегда слева */
}
.socials .socials-item:first-child {
    margin-left: 0;
    /* А у первого елемента обнуляем отступ */
}
.socials .socials-link {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: url("../images/socials.png") no-repeat;
}
.socials .socials-link.vk {background-position: -347px -5px;}
.socials .socials-link.tw {background-position: -233px -5px;}
.socials .socials-link.fb {background-position: -5px -5px;}
.socials .socials-link.gt {background-position: -119px -5px;}
.socials .socials-link.vk:hover {background-position: -404px -5px;}
.socials .socials-link.tw:hover {background-position: -290px -5px;}
.socials .socials-link.fb:hover {background-position: -62px -5px;}
.socials .socials-link.gt:hover {background-position: -176px -5px;}
/* Блок социальных ссылок - конец */

/* Сайдбар */
.sidebar {
    width: 250px;
    float: left;
}

/* Навигация */
.navigation {
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 20px;
}
.navigation .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation .navigation-item {
    border-top: 2px solid #3ba8c0;
    margin: 0 11px;
}
.navigation .navigation-item:first-child {
    border-top: none;
}
/* Навигация текущий пункт меню */
.navigation .navigation-item.current {
    background: #3ba8c0;
    margin: 0;
    border-bottom: none;
    padding-left: 11px;
    margin-bottom: -2px;/* Хак */
}
.navigation .navigation-item.current .navigation-link {
    color: #f9fafb;
    font-size: 22px;
}
/* Навигация текущий пункт меню - конец */

.navigation .navigation-link {
    font-family: 'fira_sansbook', "Lucida Grande", Lucida, Verdana, sans-serif;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #959aa8;
    margin-left: 16px;
    padding: 20px 0;
}
.navigation .navigation-link:hover {
    color: #3ba8c0;
}
/* Навигация - конец */

/* Контакты */
.contacts {
    width: 250px;
    float: left;
    margin-bottom: 26px;
}
.contacts-list {
    overflow: hidden;
    background: #3ba8c0;
    border-radius: 4px;
    margin-bottom: 26px;
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #eff3f7;
    list-style: none;
    padding-left: 10px;
}
.contacts-list .contacts-header {
    font-family: 'fira_sansbook', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: left;
    padding: 4px 10px;
}
.contacts-list .contacts-item {
    height: 40px;
    padding-left: 30px;
    display: block;
    line-height: 40px;
}
.contacts-list .contacts-item .contacts-link {
    font-family: 'fira_sansextralight', "Lucida Grande", Lucida, Verdana, sans-serif;
    display: block;
    text-decoration: none;
    color: #eff3f7;
    text-align: left;
    padding-left: 38px;
}
.contacts-item .contacts-link:hover {
    text-decoration: underline;
}
.contacts-link.mail:before {
    content: " ";
    width: 21px;
    height: 21px;
    background: url("../images/mail.png") no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.contacts-link.phone:before {
    content: " ";
    width: 21px;
    height: 21px;
    background: url("../images/phone.png") no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.contacts-link.skype:before {
    content: " ";
    width: 21px;
    height: 21px;
    background: url("../images/skype.png") no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.contacts-list .contacts-item .mail {
    background: #41B9D4;
    margin-left: -39px;
}
.contacts-list .contacts-item .phone {
    background: #48CBE8;
    margin-left: -39px;
}
.contacts-list .contacts-item .skype {
    background: #51DAF8;
    margin-left: -39px;
}
/* Контакты - конец */

/*  Главная область */
.variable-content {
    width: 650px;
    float: right;
}
.experience {
    list-style: none;

}
.education {
    list-style: none;
}
.item-content-wrap.icon-work:before {
    content: " ";
    display: block;
    height: 34px;
    width: 36px;
    background: url("../images/bag.png") no-repeat;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
}
.item-content-wrap.icon-edu:before {
    content: " ";
    display: block;
    height: 23px;
    width: 41px;
    background: url("../images/hat.png") no-repeat;
    float: left;
    padding-right: 20px;
    margin-top: 13px;
    
}
.item-content-wrap.icon-course:before {
    content: " ";
    display: block;
    height: 32px;
    width: 26px;
    background: url("../images/doc.png") no-repeat;
    float: left;
    padding-right: 25px;
    margin-top: 13px;
    margin-left: 10px
}
.item-content-wrap {
    margin-bottom: 30px;
}
.item-content-header {
    color: #4a545d;
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
}
.item-content-text {
    color: #4a545d;
    font: 300 15px FiraSans;
    padding-left: 60px;
}
/* Футер */
.page-footer {
    background: #eff3f7 top center no-repeat;
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #4a545d;
}
.page-footer:before {
    content: " ";
    display: block;
    height: 3px;
    background: linear-gradient(to right, transparent 5%, #1e677b 50%, transparent 95%) no-repeat;
}
.page-footer .conteiner {
    padding-top: 23px;
    position: relative;
}
.page-footer .copyright {
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
}

/* Логин */
.page-footer .lock {
    position: absolute;
    top: 26px;
    left: 20px;
}
.lock .lock-inner {
    display: block;
    height: 40px;
    font-family: 'fira_sansbook', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 16px;
    line-height: 2.2;
    color: #4a545d;
    text-decoration: none;
    background: url("../images/lock.png") no-repeat;
    padding-left: 24px;
}
.lock .lock-inner:hover {
    text-decoration: underline;
    background: url("../images/lock-open.png") no-repeat;
}
/* Логин - конец */

/* Футер - конец */

/* Общие классы */
.conteiner {
    width: 960px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
/* Clearfix */
.conteiner:before, .clearfix:before,
.conteiner:after, .clearfix:after {
    content: " ";/* 1 */
    display: table;/* 2 */
}
.conteiner:after, .clearfix:after {
    clear: both;
}
/* Clearfix - end */
/* Общие классы - конец */