.my-works {
    float: right;
    width: 649px;
    background-color: #eff3f7;
    border-radius: 4px;
    margin-bottom: 42px;
}
.my-works-header {
    font-family: 'fira_sanslight', "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px solid #3ba8c0;
    width: 202px;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px 0 12px 0;
}
.works-list {
    display: inline-block;
    list-style: none;
    min-width: 649px;
    padding-left: 20px;
}
.works-item {
    display: inline-block;
    width: 181px;
    text-align: center;
    margin-right: 27px;
    margin-bottom: 15px;

}
.preview-img-link {
    display: block;
    width: 182px;
    height: 129px;
    text-decoration: none;
    position: relative;
    margin-bottom: 5px;
}
.preview-img {
    display: block;
    width: 181px;
    border: 1px solid #3ba8c0;
    border-radius: 4px;
}
.preview-img-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.preview-img-hover:hover {
    background: rgba(0,0,0,0.4);
    color: #fff;
    opacity: 1.5;
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.preview-img-hover:hover:before {
    content: "подробнее";
    border: 2px solid #fff;
}
.preview-link {
    color: #3ba8c0;
    display: block;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
}
.preview-text {
    width: 181px;
    font-size: 14px;
    margin: 0;
}
.add-pj-item {
    display: inline-block;
    position: absolute;

 }
.add_pj {
    display: inline-block;
    width: 181px;
    height: 129px;
    text-decoration: none;
    border: 1px dashed #3ba8c0;
    border-radius: 4px;
    background: url(images/add_pj_bg.png);
    text-align: center;
    position: static;
}

.add_pj:hover {
    border: 1px solid #3ba8c0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.add_pj:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.add_pj_img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}
.add_pj_text {
    color: #3ba8c0;
    position: relative;
    display: block;
    margin-top: -50px;
    font-size: 14px;
}